.header {
	padding: 0 40px;
	min-height: 677px;
	background-image: url('img/header.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: overlay;
}
.header-nav {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	padding: 15px;
	&__list {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	&__link {
		color: $white;
		font-size: 14px;
		line-height: 16.8px;
		font-family: $RFDewi;
		font-weight: 800;
		text-transform: uppercase;
		&--big {
			font-size: 24px;
			text-transform: uppercase;
		}
	}
	&__span {
		color: $white;
		&--big {
			text-transform: uppercase;
		}
	}
}
.header-title {
	margin-top: 120px;
	&__inner {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__span {
		color: $white;
		text-align: center;
		font-family: $RFDewi;
		font-weight: 800;
		font-size: 60px;
		line-height: 72px;
		margin-bottom: 30px;
	}
	&__button {
		cursor: pointer;
		border: none;
		width: 265px;
		height: 64px;
		font-family: $RFDewi;
		font-weight: 800;
		font-size: 16px;
		line-height: 19.2px;
		border-radius: 10px;
		padding: 22px 35px;
		background-color: $yallow;
		transition: all 0.6s ease;
		&:hover {
			background-color: black;
			color: $yallow;
		}
	}
}
